<div class="mx-0 row">
  <table class="table">
    <% if @model == 'user' %>
      <h3>Users search for"<%= @content %>"</h3>
      <%= render '/users/user_search', users: @user %>
    <% elsif @model == 'book' %>
      <h3>Books search for"<%= @content %>"</h3>
      <%= render '/books/book_search', books: @book %>
    <% else %>
      <p>"<%= @content %>" に一致する情報は見つかりませんでした</p>
    <% end %>
  </table>
</div>
